* {
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


body {
    
    margin: 0;
    height: 100vh;
    transition: background-color 0.2s, color 0.2s;
    overflow-x: hidden;

}

body::-webkit-scrollbar {
    display: none;
}


.page_1 {
    
    height: 100vh;
    background-color: white;
    background-color: transparent;
    color: black;

}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    font-family: "Gowun Dodum";
    letter-spacing: -0.33px;
    font-size: 15.4px;
    
}

.nav-links {

    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    margin: 0 auto;
    align-items: center;

}

.nav-links li {

    margin: 0 15px;

}


.nav-links a {

    text-decoration: none;
    color: black;
    
}


img {

    float: left;
}






h1 {

    text-align: center;
    word-spacing: normal;
    font-family: "Canela", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    letter-spacing: -0.05vw;
    justify-content: center;
    padding-top: 33vh;
    overflow-wrap: break-word;
    font-weight: 150;
    margin-bottom: 0;

} 


h2 {

    display: flex;
    font-family: "Canela", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    word-spacing: normal;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.33px;
    font-weight: 444;
    padding-top: 10px;
    padding-right: 5vw;
    padding-left: 5vw;
    line-height: 1.7;
    overflow-wrap: break-word;

}





.menu_icon_box {
    display: none;
}



.box {
    display: none;
}

@media (max-width: 1030px) and (min-width: 769px) {

    h1 {
        padding-top: 40vh;
    }

    h2 {
        display: none;
    }

}




@media (max-width: 768px) {



    h1 {


        width: 100%;
        position: absolute;
        display: flex;
        font-family: "Canela", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 30px;
        letter-spacing: -2px;

        padding-top: 27vh;
        overflow-wrap: break-word;
        font-weight: 150;
        margin-bottom: 0;

        text-align: center;
        justify-content: center;
        align-items: center;
    
    } 


    h2 {

        position: absolute;
        display: flex;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        word-spacing: normal;
        font-size: 10px;

        text-align: center;
        justify-content: center;
        align-items: center;

        letter-spacing: -0.5px;
        font-weight: 444;
        padding-top: 36vh;
        padding-left: 100px;
        padding-right: 100px;
    
    }

}








@font-face {
    font-family: "Canela";
    src: url(/Fonts/canela_bold.otf)
}



@font-face {
    font-family: "Ajou";
    src: url(/Fonts/AjouTTF.ttf);
}
